* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('../assets/images/bureaufoto1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.intro {
  width: 90vw;
  padding: 1rem;
  margin-top: 1rem;
  background: #777777;
  opacity: 0.9;
}

.hier {
  font-family: 'Noto serif bold' 'sans-serif'; 
  color:  #e6c20a;
}

.intro a{
  text-decoration: none;
}